/* body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f6f9;
}

.container{
display:flex;
min-height:100vh;
}

.sidebar{
width:220px;
background:#2e7d32;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:10px;
margin-bottom:10px;
border-radius:6px;
}

.sidebar a:hover{
background:#1b5e20;
}

.main{
flex:1;
padding:30px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
margin-bottom:20px;
}

input,select,button{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#2e7d32;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#1b5e20;
}

.preview{
width:200px;
margin-top:10px;
display:none;
}

.confidence-bar{
background:#ddd;
height:25px;
border-radius:10px;
overflow:hidden;
}

.confidence-fill{
background:#2e7d32;
color:white;
text-align:center;
height:100%;
line-height:25px;
}

.alert{
background:#fff3cd;
padding:8px;
margin:5px 0;
border-radius:6px;
} */

body {
  margin: 0;
}

.glass-card {
  backdrop-filter: blur(12px);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ===============================
   CARD HOVER EFFECT
================================ */

.card-hover {
  transition: all 0.35s ease;
}

.card-hover:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}


/* ===============================
   SCROLL APPEAR ANIMATION
================================ */

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}